@font-face {
	font-family: "Charter";	
	src: url("/css/fonts/Charter Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Charter";	
	src: url("/css/fonts/Charter Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Charter";	
	src: url("/css/fonts/Charter Italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Charter";	
	src: url("/css/fonts/Charter Bold Italic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}
body {
	font-family: "Charter";
	margin: 0;
	padding: 0 8px;
	height: 100vh;
	flex-direction: column;
}
#name {
	margin-top: 0;
	margin-bottom:0;
	padding:8px;
}
#item blockquote,iframe,a {
	margin:auto !important;
}
#item {
	text-align:center;
}
#flag {
	width:auto;
	height:.4in;
	border: 1px solid black;
}
#flag-logo {
	height:.3in;
	margin:auto;
}
#flag-logo-box {
	display: inline-flex;
	align-items: center;
	height:.4in;
	width:.6in;
	border: 1px solid black;
	vertical-align:top;
}
#eight {
	padding-left: 0px;
	padding-right: 0px;
	background-image: url("../background.png");
	background-size: 20%;
	padding-top: 0;
	flex: 1;
}
#whitebox {
	border: 1px solid black;
	background: white;
	padding: 8px;
	margin-bottom: 8px;
}

h1 {
	text-align:center;
}

td {
    padding:3px;
}

td:first-child {
    text-align: right;
}
table {
	border: 1px solid black;
	padding: 4px;
	margin: auto;
}
footer {
	background-color: gray;
	position: absolute;
	width: 100%;
	bottom: 0;
}